
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
	font-family: "Arial","Microsoft YaHei","黑体",sans-serif;
	overflow: hidden;
}
.intro-box {
	border:solid 1.5px #1ccece;
	box-shadow: 0 0 5px #1ccece;
	border-radius: 8px;
	background-color: rgba(0,0,0,0.7);
	color: #1ccece;
	width: 32%;
	padding: 12px;
	height: 240px;
	font-size: 14px;
	position: fixed;
	top: 12px;
	transition: all 0.4s;
	z-index: 0;
	display: none;
	// opacity: 0;
}
#intro {
	right: 4%;
}
#intro-left {
	right:54%;
}
.flex-box{
    display: -webkit-box;
    display: -webkit-flex;

    display: -moz-box;
    display: -moz-flex;

    display: -ms-flexbox;

    display: flex;

    /* 水平居中*/
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-pack:center;/* IE 10 */

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;/* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/

    /* 垂直居中 */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align:center;/* IE 10 */

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.show {
	opacity: 1;
	z-index: 1;
}
.ro-ainimate {
	width: 50px;
	height: 50px;
	border:dotted 2px #1ccece;
	box-shadow:inset 0 0 5px #1ccece;
	border-radius: 50%;
	position: absolute;
	bottom: 0px;
	right: 0px;
	animation: ro 5s linear infinite;
	-webkit-animation: ro 5s linear infinite;
}
.ro-center {
	width: 25px;
	height: 25px;
	border:solid 6px #1ccece;
	box-shadow: 0 0 8px 3px #1ccece;
	border-radius: 50%;
}
.title {
	font-size: 18px;
	line-height: 1.5;
	color: #1ccece;
	opacity: 0;
	transition: all 0.5s;
}
.title-show {
	opacity: 1;
}
.content {
	line-height: 1.5;
	color: #eee;
}
.btn-vr {
	color: #eee;
	width: 36px;
	height: 36px;
	background-image: url('./textures/vr-off.png');
	background-repeat: no-repeat;
	background-size: 100%;
	position: fixed;
	right: 12px;
	bottom: 12px;
	cursor: pointer;
	display: none;
}
.on {
	background-image: url('./textures/vr-on.png');
}
@keyframes ro {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}
@-webkit-keyframes ro {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}